[submodule "protected/extensions/yiibooster"]
	path = protected/extensions/yiibooster
	url = https://github.com/clevertech/YiiBooster.git
[submodule "protected/extensions/yii2-debug"]
	path = protected/extensions/yii2-debug
	url = https://github.com/zhuravljov/yii2-debug.git
[submodule "yii"]
	path = yii
	url = https://github.com/yiisoft/yii.git
[submodule "protected/extensions/yii-colorpicker"]
	path = protected/extensions/yii-colorpicker
	url = https://github.com/tonybolzan/yii-colorpicker.git
